//COLOR
$color-primary: #ffb400;
$color-primary-light: #ffcb4d;
$color-primary-dark: #b37e00;

$color-secondary: #2a2a2a;
$color-secondary-light: #373737;
$color-secondary-dark: #1d1d1d;

$color-white: #fff;
$color-dark: #000;
