.u-margin-bottom-huge {
	margin-bottom: 15rem;
}
.u-margin-bottom-8 {
	margin-bottom: 8rem;
}
.u-margin-bottom-4 {
	margin-bottom: 4rem;
}
.u-margin-bottom-2 {
	margin-bottom: 2rem;
}

.u-margin-top-2 {
	margin-top: 2rem;
}
.u-margin-top-4 {
	margin-top: 4rem;
}
.u-margin-top-8 {
	margin-top: 8rem;
}
.u-margin-top-huge {
	margin-top: 15rem;
}

.u-margin-left-2 {
	margin-left: 2rem;
}
.u-margin-left-4 {
	margin-left: 4rem;
}
.u-margin-left-8 {
	margin-left: 8rem;
}
.u-margin-left-huge {
	margin-left: 15rem;
}

.u-margin-right-2 {
	margin-right: 2rem;
}
.u-margin-right-4 {
	margin-right: 4rem;
}
.u-margin-right-8 {
	margin-right: 8rem;
}
.u-margin-right-huge {
	margin-right: 15rem;
}

.u-text-center {
	text-align: center;
}

.u-d_b {
	display: block;
}
.u-d_ib {
	display: inline-block;
}
