@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2500px); }
  70% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  70% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(250px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-250px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3.5rem;
  font-weight: 900;
  animation: moveInTop 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3rem;
  font-weight: 700; }

.heading-tertiary {
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3rem;
  font-weight: 700;
  color: #ffb400; }

.paragraph {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7;
  width: 100%; }
  .paragraph--animated {
    font-weight: 700;
    font-size: 2rem;
    animation: moveInLeft 1s ease-out; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-margin-bottom-huge {
  margin-bottom: 15rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-top-2 {
  margin-top: 2rem; }

.u-margin-top-4 {
  margin-top: 4rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 15rem; }

.u-margin-left-2 {
  margin-left: 2rem; }

.u-margin-left-4 {
  margin-left: 4rem; }

.u-margin-left-8 {
  margin-left: 8rem; }

.u-margin-left-huge {
  margin-left: 15rem; }

.u-margin-right-2 {
  margin-right: 2rem; }

.u-margin-right-4 {
  margin-right: 4rem; }

.u-margin-right-8 {
  margin-right: 8rem; }

.u-margin-right-huge {
  margin-right: 15rem; }

.u-text-center {
  text-align: center; }

.u-d_b {
  display: block; }

.u-d_ib {
  display: inline-block; }

.header-project {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.7), rgba(255, 203, 77, 0.5)), url("../img/projectHero-1.jpg") no-repeat center center/cover; }
  .header-project__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 90vh; }
  .header-project__content {
    width: 50%;
    text-align: left; }
  .header-project .container-lg {
    max-width: 1600px; }

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.7rem; }
  .btn:hover:after {
    content: '\2192';
    font-weight: 600;
    padding-left: 0.3rem; }
  .btn--primary {
    color: #fff;
    background-color: #ffb400; }
  .btn--secondary {
    color: #2a2a2a;
    background-color: transparent;
    border: 3px solid #2a2a2a; }
    .btn--secondary:hover {
      color: #fff;
      background-color: #2a2a2a; }
  .btn--tertiary {
    color: #ffb400;
    background-color: transparent;
    border: 2px solid #ffb400; }
    .btn--tertiary:hover {
      color: #fff;
      background-color: #ffb400; }
  .btn--animated {
    animation: moveInBottom 1s ease-out; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2rem 0; }
  .navigation__logo {
    width: 180px; }
  .navigation__item {
    display: inline-block;
    padding: 0.75rem;
    font-weight: 500; }
  .navigation__link {
    padding: 0 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #fff; }
    .navigation__link a:link, .navigation__link a:visited {
      color: inherit; }
    .navigation__link::after {
      content: '';
      width: 0%;
      position: absolute;
      height: 0.3rem;
      background-color: #ffb400;
      bottom: -0.4rem;
      left: 1rem;
      transition: all 0.5s; }
    .navigation__link:hover::after {
      width: calc(100% - 2rem); }
    .navigation__link--current::after {
      content: '';
      width: calc(100% - 2rem);
      position: absolute;
      height: 0.3rem;
      background-color: #ffb400;
      bottom: -0.4rem;
      left: 1rem;
      transition: all 0.5s; }

.header {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(55, 55, 55, 0.1)), url("../img/hero5.jpg") no-repeat center center/cover; }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; }
  .header__content {
    width: 50%;
    text-align: left;
    padding: 2rem 4rem; }
  .header .container-lg {
    max-width: 1600px; }

.project {
  height: 80vh; }
  .project__details {
    background-color: #373737;
    color: #fff; }
    .project__details::before {
      content: '';
      position: absolute;
      left: 12px;
      height: 80%;
      width: 2px;
      background-color: #ffb400; }
  .project__info {
    height: 80vh; }
    .project__info--image {
      height: 100%;
      width: 100%;
      background: url("../img/hero2.jpg") no-repeat center center/cover; }
    .project__info--contact {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .project__info--contact-address {
        width: 100%;
        background-color: #ffb400;
        padding: 3rem 4rem; }
      .project__info--contact-phone {
        color: #000;
        width: 100%;
        background-color: #fff;
        padding: 3rem 4rem; }

.about-us {
  position: relative;
  height: 80vh; }
  .about-us__bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(55, 55, 55, 0.9)), url("../img/section-about.jpg") no-repeat center center/cover; }
  .about-us--details {
    color: #fff;
    position: absolute;
    width: 30%;
    bottom: 12vw;
    right: 15%; }
    .about-us--details .heading-secondary {
      color: #ffb400; }
    .about-us--details::before {
      content: '';
      position: absolute;
      left: -57px;
      top: -20px;
      height: 120%;
      width: 2px;
      background-color: #ffb400; }

.contact__map {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .contact__map--container {
    width: 100%;
    height: 85%;
    background-color: white; }
  .contact__map--icons {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .contact__map--icon1 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffb400; }
    .contact__map--icon1 i {
      color: #2a2a2a; }
  .contact__map--icon2 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #2a2a2a; }
    .contact__map--icon2 i {
      color: #ffb400; }

.contact__form {
  background-color: #ffb400; }
  .contact__form h3 {
    color: #1d1d1d;
    text-align: center; }
  .contact__form--label {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    color: #ffb400;
    margin: .2rem .5rem; }
  .contact__form--input {
    font-size: 1.6rem;
    font-family: inherit;
    color: #1d1d1d;
    background-color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-bottom: 4px solid transparent;
    width: 100%;
    height: 55%;
    margin: 3rem 0; }
    .contact__form--input:focus {
      outline: none;
      border-bottom: 5px solid #1d1d1d; }
  .contact__form--textarea {
    width: 100%;
    margin: 3rem 0; }
    .contact__form--textarea:focus {
      outline: none;
      border: 5px solid #ffb400; }

.details {
  background-color: #373737; }
  .details__ad {
    padding: 2rem 0; }
    .details__ad--paragraph {
      color: #fff;
      font-size: 1.8rem;
      line-height: 2; }
  .details__info {
    border-top: 3px solid #ffb400;
    padding: 2px; }
    .details__info--list {
      padding: 1rem 2rem;
      list-style: none; }
    .details__info--item {
      font-size: 1.8rem;
      color: #fff;
      font-family: inherit; }
      .details__info--item:not(:last-child) {
        margin-bottom: 1.5rem; }
      .details__info--item::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #ffb400;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 2rem;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em; }

.footer {
  background-color: #1d1d1d;
  color: white;
  padding: 2rem 3rem; }
  .footer__logoBox {
    height: 100%; }
  .footer__item {
    padding: .5rem 1rem; }
    .footer__item i {
      color: #ffb400;
      margin-right: 1rem; }
    .footer__item span {
      font-size: 1.8rem; }
  .footer__projectsBox {
    height: 100%; }
    .footer__projectsBox i {
      color: #ffb400;
      margin-right: 1rem; }
    .footer__projectsBox--link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-size: 1.8rem; }
  .footer__navigation {
    text-align: center; }
