@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2500px); }
  70% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  70% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(250px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-250px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 2.8rem;
  font-weight: 900;
  animation: moveInTop 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3rem;
  font-weight: 700; }

.heading-tertiary {
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3rem;
  font-weight: 700;
  color: #ffb400; }

.paragraph {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7;
  width: 100%; }
  .paragraph--animated {
    font-weight: 700;
    font-size: 2rem;
    animation: moveInLeft 1s ease-out; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@media only screen and (max-width: 768px) and (min-width: 200px) {
  .heading-primary {
    font-size: 2rem; } }

.u-margin-bottom-huge {
  margin-bottom: 15rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-top-2 {
  margin-top: 2rem; }

.u-margin-top-4 {
  margin-top: 4rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 15rem; }

.u-margin-left-2 {
  margin-left: 2rem; }

.u-margin-left-4 {
  margin-left: 4rem; }

.u-margin-left-8 {
  margin-left: 8rem; }

.u-margin-left-huge {
  margin-left: 15rem; }

.u-margin-right-2 {
  margin-right: 2rem; }

.u-margin-right-4 {
  margin-right: 4rem; }

.u-margin-right-8 {
  margin-right: 8rem; }

.u-margin-right-huge {
  margin-right: 15rem; }

.u-text-center {
  text-align: center; }

.u-d_b {
  display: block; }

.u-d_ib {
  display: inline-block; }

.u-font-2 {
  font-size: 2rem; }

.u-font-2-l {
  font-size: 2.5rem; }

.u-font-3 {
  font-size: 3rem; }

.u-font-3-l {
  font-size: 3.5rem; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: .5rem; }

.header-project {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(255, 203, 77, 0.5)), url("../img/projectHero-1.jpg") no-repeat center center/cover; }
  .header-project__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 75vh; }
  .header-project__content {
    width: 50%;
    text-align: left; }
  .header-project .container-lg {
    max-width: 1600px; }

@media only screen and (max-width: 800px) and (min-width: 200px) {
  .header-project__content {
    width: 100%; } }

.header-about {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(179, 126, 0, 0.5)), url("../img/aboutUs-hero2.jpg") no-repeat center center/cover; }
  .header-about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 75vh; }
  .header-about__content {
    width: 50%;
    text-align: left; }
  .header-about .container-lg {
    max-width: 1600px; }

@media only screen and (max-width: 800px) and (min-width: 200px) {
  .header-about__content {
    width: 100%; } }

.header-contact {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(255, 203, 77, 0.5)), url("../img/contact-hero.jpg") no-repeat center center/cover; }
  .header-contact__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 75vh; }
  .header-contact__content {
    width: 100%;
    text-align: left; }
  .header-contact .container-lg {
    max-width: 1600px; }

@media only screen and (max-width: 800px) and (min-width: 200px) {
  .header-project__content {
    width: 100%; } }

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.7rem; }
  .btn:hover:after {
    content: '\2192';
    font-weight: 600;
    padding-left: 0.3rem; }
  .btn--primary {
    color: #fff;
    background-color: #ffb400; }
  .btn--secondary {
    color: #2a2a2a;
    background-color: transparent;
    border: 3px solid #2a2a2a; }
    .btn--secondary:hover {
      color: #fff;
      background-color: #2a2a2a; }
  .btn--tertiary {
    color: #ffb400;
    background-color: transparent;
    border: 2px solid #ffb400; }
    .btn--tertiary:hover {
      color: #fff;
      background-color: #ffb400; }
  .btn--animated {
    animation: moveInBottom 1s ease-out; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2rem 0; }
  .navigation__logo {
    width: 180px; }
  .navigation__item {
    display: inline-block;
    padding: 0.75rem;
    font-weight: 500; }
  .navigation__link {
    padding: 0 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #fff; }
    .navigation__link a:link, .navigation__link a:visited {
      color: inherit; }
    .navigation__link::after {
      content: '';
      width: 0%;
      position: absolute;
      height: 0.3rem;
      background-color: #ffb400;
      bottom: -0.4rem;
      left: 1rem;
      transition: all 0.5s; }
    .navigation__link:hover::after {
      width: calc(100% - 2rem); }
    .navigation__link--current::after {
      content: '';
      width: calc(100% - 2rem);
      position: absolute;
      height: 0.3rem;
      background-color: #ffb400;
      bottom: -0.4rem;
      left: 1rem;
      transition: all 0.5s; }
  @media (max-width: 768px) {
    .navigation {
      display: none; } }

.header {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(55, 55, 55, 0.1)), url("../img/hero5.jpg") no-repeat center center/cover; }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh; }
  .header__content {
    padding: 2rem 4rem;
    width: 50%; }
    @media (max-width: 768px) {
      .header__content {
        padding: 0;
        width: 100%; } }
  @media (max-width: 768px) {
    .header .btn {
      padding: 0.7rem 1.5rem; } }
  .header .container-lg {
    max-width: 1600px; }

.project {
  position: relative; }
  .project .explanation {
    padding-top: 6%;
    padding-left: 25px;
    background: #373737; }
    @media (max-width: 768px) {
      .project .explanation {
        padding-bottom: 50px; } }
    .project .explanation .paragraph {
      color: #fff; }
    .project .explanation::before {
      content: '';
      position: absolute;
      top: 5%;
      left: 12px;
      height: 90%;
      width: 2px;
      background-color: #ffb400; }
  .project .image {
    position: relative;
    padding: 0; }
    .project .image .info {
      position: absolute;
      bottom: 0;
      left: 0; }
      .project .image .info .row {
        justify-content: space-between; }
        .project .image .info .row i {
          padding-right: 3px; }
        .project .image .info .row .address {
          text-align: center;
          color: #2a2a2a;
          background-color: #ffb400;
          padding: 20px 0 20px 10px; }
        .project .image .info .row .phone {
          text-align: center;
          padding: 20px 0 20px 10px;
          color: #ffb400;
          background-color: #373737; }
  .project-bg {
    padding: inherit 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background: url("../img/hero2.jpg") no-repeat center center/cover; }

.about-us {
  position: relative; }
  .about-us-bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(55, 55, 55, 0.9)), url("../img/section-about.jpg") no-repeat center center/cover; }
  .about-us-details {
    padding: 150px 0;
    color: #fff; }
    @media (max-width: 768px) {
      .about-us-details {
        padding: 50px 0; } }
    .about-us-details .row > div:first-child {
      position: relative; }
      .about-us-details .row > div:first-child::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 0px;
        height: 100%;
        width: 2px;
        background-color: #ffb400; }
    .about-us-details .heading-secondary {
      color: #ffb400; }

.contact .map {
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 400px; }

.contact__form {
  background-color: #ffb400; }
  .contact__form h3 {
    color: #1d1d1d;
    text-align: center; }
  .contact__form--label {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    color: #ffb400;
    margin: 0.2rem 0.5rem; }
  .contact__form--input {
    font-size: 1.6rem;
    font-family: inherit;
    color: #1d1d1d;
    background-color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-bottom: 4px solid transparent;
    width: 100%;
    height: 55%;
    margin: 3rem 0; }
    .contact__form--input:focus {
      outline: none;
      border-bottom: 3px solid #2a2a2a; }
  .contact__form--textarea {
    width: 100%;
    margin: 3rem 0;
    font-size: 1.8rem;
    padding: 1rem 2rem; }
    .contact__form--textarea:focus {
      outline: none;
      border: 3px solid #2a2a2a; }

.details {
  background: linear-gradient(to left bottom, rgba(42, 42, 42, 0.9), rgba(29, 29, 29, 0.9)); }
  .details__ad {
    padding: 2rem 0; }
    .details__ad--paragraph {
      color: #fff;
      font-size: 1.8rem;
      line-height: 2; }
  .details__info {
    border-top: 3px solid #ffb400;
    padding: 2px; }
    .details__info--list {
      padding: 1rem 2rem;
      list-style: none; }
    .details__info--item {
      font-size: 1.8rem;
      color: #fff;
      font-family: inherit; }
      .details__info--item:not(:last-child) {
        margin-bottom: 1.5rem; }
      .details__info--item::before {
        content: '\2022';
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #ffb400;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 2rem;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em; }

.footer {
  background-color: #1d1d1d;
  color: white;
  padding: 2rem 3rem; }
  .footer__logoBox {
    height: 100%; }
  .footer__item {
    padding: 0.5rem 1rem; }
    .footer__item i {
      color: #ffb400;
      margin-right: 1rem; }
    .footer__item span {
      font-size: 1.8rem; }
  .footer__projectsBox {
    height: 100%; }
    .footer__projectsBox i {
      color: #ffb400;
      margin-right: 1rem; }
    .footer__projectsBox--link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-size: 1.8rem; }
  .footer__navigation {
    text-align: center; }
  .footer .navigation-item {
    text-align: center; }
  .footer .credit {
    color: #f0eedb;
    opacity: 1;
    padding: 0.5rem;
    font-size: 1.1rem; }
    .footer .credit > p > a {
      color: #fff;
      display: inline-block;
      transition: all 0.5s; }
      .footer .credit > p > a:hover {
        color: #2a2a2a;
        box-shadow: 0 1rem 2rem rgba(255, 180, 0, 0.4);
        transform: rotate(5deg) scale(1.3);
        background-color: #ffb400;
        padding: 2px 5px; }

.aboutUs {
  background-color: #373737;
  color: #fff; }
  .aboutUs__explanation {
    padding: 1rem 2rem;
    font-size: 2rem; }
  .aboutUs__detail {
    border: 2px solid #ffb400;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 3rem; }
  .aboutUs__icon {
    color: #ffb400; }

.director {
  background: linear-gradient(to bottom, rgba(255, 180, 0, 0.5), rgba(29, 29, 29, 0.9)), url("../img/director.jpg") no-repeat center center/cover;
  padding: 2rem 3rem; }
  .director__card {
    width: 40rem;
    height: 100%;
    border-radius: 2rem; }
    .director__card--bg {
      background: #373737;
      color: #fff;
      border: none; }
    .director__card--img {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      overflow: hidden; }
    .director__card--item {
      font-size: 2rem;
      color: #fff;
      padding: 1rem 2rem; }
      .director__card--item:not(:last-child) {
        border-bottom-width: 80%;
        background-color: #373737; }
      .director__card--item:last-child {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-color: #373737; }
      .director__card--item-icon {
        color: #ffb400;
        margin-right: 1rem; }

@media only screen and (max-width: 650px) and (min-width: 200px) {
  .director__card {
    width: 100%; } }

.mobile-navigation {
  display: none; }
  @media (max-width: 768px) {
    .mobile-navigation {
      display: block; } }
  .mobile-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  .mobile-navigation__checkbox {
    display: none; }
  .mobile-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  .mobile-navigation__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    right: 6rem;
    background-image: radial-gradient(#373737, #1d1d1d);
    z-index: 300;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  .mobile-navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .mobile-navigation__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    list-style: none; }
  .mobile-navigation__item {
    margin: 1rem;
    display: none; }
  .mobile-navigation__checkbox:checked ~ .mobile-navigation__nav > .mobile-navigation__list > .mobile-navigation__item {
    display: inline-block; }
  .mobile-navigation__link:link, .mobile-navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all 0.4s; }
    .mobile-navigation__link:link span, .mobile-navigation__link:visited span {
      margin-right: 1rem;
      display: inline; }
  .mobile-navigation__link:hover, .mobile-navigation__link:active {
    background-position: 100%;
    color: #2a2a2a;
    transform: translateX(1rem); }
  .mobile-navigation__checkbox:checked ~ .mobile-navigation__background {
    transform: scale(80); }
  .mobile-navigation__checkbox:checked ~ .mobile-navigation__nav {
    opacity: 1;
    width: 100%; }
  .mobile-navigation__icon {
    position: relative; }
    .mobile-navigation__icon, .mobile-navigation__icon::before, .mobile-navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #695757;
      display: inline-block; }
    .mobile-navigation__icon::before, .mobile-navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .mobile-navigation__icon::before {
      top: -0.8rem; }
    .mobile-navigation__icon::after {
      top: 0.8rem; }
  .mobile-navigation__button:hover .mobile-navigation__icon::before {
    top: -1rem; }
  .mobile-navigation__button:hover .mobile-navigation__icon::after {
    top: 1rem; }
  .mobile-navigation__checkbox:checked + .mobile-navigation__button .mobile-navigation__icon {
    background-color: transparent; }
  .mobile-navigation__checkbox:checked + .mobile-navigation__button .mobile-navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .mobile-navigation__checkbox:checked + .mobile-navigation__button .mobile-navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
