.footer {
	background-color: $color-secondary-dark;
	color: white;
	padding: 2rem 3rem;
	&__logoBox {
		height: 100%;
	}
	&__item {
		padding: 0.5rem 1rem;
		i {
			color: $color-primary;
			margin-right: 1rem;
		}
		span {
			font-size: 1.8rem;
		}
	}
	&__projectsBox {
		height: 100%;
		i {
			color: $color-primary;
			margin-right: 1rem;
		}
		&--link {
			text-decoration: none;
			color: white;
			cursor: pointer;
			font-size: 1.8rem;
		}
	}
	&__navigation {
		text-align: center;
	}
	.navigation-item {
		text-align: center;
	}

	.credit {
		color: #f0eedb;
		opacity: 1;
		padding: 0.5rem;
		font-size: 1.1rem;

		& > p > a {
			color: $color-white;
			display: inline-block;
			transition: all 0.5s;
			&:hover {
				color: $color-secondary;
				box-shadow: 0 1rem 2rem rgba($color: $color-primary, $alpha: 0.4);
				transform: rotate(5deg) scale(1.3);
				background-color: $color-primary;
				padding: 2px 5px;
			}
		}
	}
}
@media only screen and (max-width: 650px) and (min-width: 200px) {
}
