.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $color-white;
	padding: 2rem;
	&__logo {
		margin-left: 2rem;
		width: 180px;
	}

	&__item {
		display: inline-block;
		padding: 0.75rem;
		font-weight: 500;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	&__link {
		padding: 0 1rem;
		font-size: 1.5rem;
		cursor: pointer;
		position: relative;
		display: inline-block;
		color: $color-white;

		a {
			&:link,
			&:visited {
				color: inherit;
			}
		}

		&::after {
			content: '';
			width: 0%;
			position: absolute;
			height: 0.3rem;
			background-color: $color-primary;
			bottom: -0.4rem;
			left: 1rem;
			transition: all 0.5s;
		}

		&:hover::after {
			width: calc(100% - 2rem);
		}

		&--current {
			&::after {
				content: '';
				width: calc(100% - 2rem);
				position: absolute;
				height: 0.3rem;
				background-color: $color-primary;
				bottom: -0.4rem;
				left: 1rem;
				transition: all 0.5s;
			}
		}
	}
}
