.project {
	height: 80vh;

	&__details {
		background-color: $color-secondary-light;
		color: $color-white;
		&::before {
			content: '';
			position: absolute;
			left: 12px;
			height: 80%;
			width: 2px;
			background-color: $color-primary;
		}
	}
	&__info {
		height: 80vh;
		&--image {
			height: 100%;
			width: 100%;
			background:url('../img/hero2.jpg') no-repeat center center/cover;
		}
		&--contact {
			position: absolute;
			bottom: 0;
			width: 100%;

			&-address {
				width: 100%;
				background-color: $color-primary;
				padding: 3rem 4rem;
			}
			&-phone {
				color: $color-dark;
				width: 100%;
				background-color: $color-white;
				padding: 3rem 4rem;
			}
		}
	}
}
