.btn {
	display: inline-block;
	cursor: pointer;
	padding: 1.5rem 2.5rem;
	margin-top: 1rem;
	font-weight: 700;
	font-size: 1.7rem;

	&:hover:after {
		content: '\2192';
		font-weight: 600;
		padding-left: 0.3rem;
	}

	&--primary {
		color: $color-white;
		background-color: $color-primary;
	}

	&--secondary {
		color: $color-secondary;
		background-color: transparent;
		border: 3px solid $color-secondary;
		&:hover {
			color: $color-white;
			background-color: $color-secondary;
		}
	}

	&--tertiary {
		color: $color-primary;
		background-color: transparent;
		border: 2px solid $color-primary;
		&:hover {
			color: $color-white;
			background-color: $color-primary;
		}
	}

	&--animated {
		animation: moveInBottom 1s ease-out;
	}
}
